<div style="display:block">
    <canvas id="myChart" width="800" height="400"></canvas>
</div>

<!-- <mat-tab-group width="400" height="400">
    <mat-tab label="First">
        <mat-chip-list class="no-wrap">
            <mat-chip class="no-wrap" *ngFor="let n of chartData.KeyList">{{n}}</mat-chip>
        </mat-chip-list> </mat-tab>
    <mat-tab label="Second">
        <canvas id="myChart" width="400" height="400" *ngIf="isChartVisible"></canvas>

    </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->